.info-container {
    /* padding: 0 10vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-container > * > h2 {
    text-align: center;
}

.info-container > * > p {
    text-align: center;
    max-width: 90%;
    margin: auto;
}

.info-container > * > .btn {
    justify-self: center;
    margin-top: 1rem;
}

.tentamenstimer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.elevundersøkelsen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.info-video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-video{
    height: 60vh;
    margin-bottom: 1rem;
}

.digital-elevkveld-container {
    width: 40%;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.digital-elevkveld-container > h2 {
    text-align: center;
}

.digital-elevkveld-container > p {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .card-container {
      padding: 0 2vw;
    }

    .info-container {
        flex-direction: column;
    }

    .tentamenstimer-container {
        width: 100%;
        padding: 0 1rem;
    }

    .elevundersøkelsen-container{
        width: 100%;
        padding: 0 1rem;
        margin-top: 2rem;
    }

    .desktop{
        display: none;
    }

    .digital-elevkveld-container {
        width: 100%;
        padding: 0 1rem;
        margin-top: 2rem;
    }

  }