.studier-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.sb-container {
    margin: 12vh 10vw;
    background-color: #fff;
}

.overview-container {
    display: flex;
    justify-content: center;
    padding: 0 10vw;
    text-align: center;
}

.content-header {
    align-self: center;
    padding: 3vh 0;
}

.overview-container > div > p {
    padding: 0.2rem 1rem;
    margin: 0;
}

.overview-container > div > p:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 480px) {
    .sb-container {
        margin: 12vh 2vw;
    }
  }

  @media only screen and (max-width: 640px) {
    .overview-container {
        flex-direction: column;
    }
  }