.suvery-container {
    padding: 0 10vw;
    padding-top: calc(66px + 1rem)
}

.tip-list {
    list-style: none;
    text-align: center;
    padding-top: 1rem;
}

.card-wide {
    width: 100%;
}

.tip-list > li {
    margin: 0.25rem;
}

.list-container {
    display: table;
    margin: auto;
}

.form {
    height: 1001px;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.survey-btn {
    align-self: flex-end;
    margin-right: 6vw;
}

@media only screen and (max-width: 700px) {
    .form {
        height: 90vh;
        width: 70vh;
    }
  }

@media only screen and (max-width: 480px) {
    .form {
        height: 90vh;
        width: 100%;
    }

    .suvery-container {
        padding: 0 4vw;
        padding-top: calc(66px + 1rem);
    }

    .list-container {
        display: block;
        margin: auto;
    }
  }